/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* BUTTONS */
.btn-white {
    background-color: white;
    color: black;

}

.btn-small {
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.9em;
}

/* TEXT */
.text {
    font-size: 1em;
    line-height: 1.6em;
}

/* HEADER */
header {
    height: 60px;
    background-color: #3161E0;
}

.header-nav {
    line-height: 60px;
    color: white;
}

.nav-logo, .nav-btn {
    width: 15%;
}

.nav-logo img {
    vertical-align: middle;
    width: auto;
    height: 40px;
}

.nav-btn {
    text-align: right;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li {
    margin-right: 1em;
    display: inline-block;
}


.nav-center .header-menu a {
    font-size: 1em;
    font-weight: bold;
    color: inherit;
}

/* MAIN */

/* BANNER */

.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8em 0;
}

.banner-content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: white;
}

.banner-content .content-title  {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}