/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.grey {
    background-color: #F6F6F6;
}


/* BUTTONS */

.button {
    display: inline-block;
    border-radius: 50px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: #23272A;
    color: white;
}

.btn-violet {
    background-color: #8EA1E1;
    color: white;
}

.btn-small {
    padding: 0.6em 1em;
    font-size: 0.9em;
}

.btn-large {
    padding: 0.8em 1.5em;
    font-size: 1.2em;
}

/* TEXT */
.text {
    font-size: 1em;
    line-height: 1.6em;
}

/* HEADER */
header {
    height: 60px;
    background-color: #3161E0;
}

.header-nav {
    line-height: 60px;
    color: white;
}

.nav-logo, .nav-btn {
    width: 15%;
}

.nav-logo img {
    vertical-align: middle;
    width: auto;
    height: 40px;
}

.nav-btn {
    text-align: right;
}

.nav-btn a {
    line-height: normal;
}

.nav-center {
    width: 70%;
    text-align: center;
}

.nav-center .header-menu li {
    margin-right: 1em;
    display: inline-block;
}


.nav-center .header-menu a {
    font-size: 1em;
    font-weight: bold;
    color: inherit;
}

/* MAIN */

.wave img {
    display: inline-block;
}

.wave.down {
    margin-top: -2px;
    transform: rotate(180deg);
}

/* BANNER */

.banner {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8em 0;
}

.banner-content {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: white;
}

.banner-content .content-title  {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

.banner-content .buttons {
   margin-top: 2em; 
}

.banner-content .buttons .btn-large {
    margin-right: 1em;
}

/* SECTIONS */

.place {
    padding: 6em;
}

.col-img {
    width: 60%;
}

.col-text {
    width: 40%;
}

.col-text .place-title {
    margin-top: 1em;
    font-size: 3em;
}

.col-text .text {
    font-size: 1.5em;
}

.place-title {
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

.place-content  .img-first img {
    padding-left: 0;
    padding-right: 2em;
}


/* TECNOLOGY SECTION */
.tech {
    padding: 3em 0;
}

.tech-text {
    text-align: center;
    padding: 0 3em;
}

/* ready section */

.ready {
    padding-bottom: 2em;
}

.ready-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ready .buttons {
    margin-top: 2em;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 2em 0;
    background-color: #23272A;
}

/* footer top  */

.footer-top {
    padding: 1em;
}

.col-menu {
    width: calc(100%/6);
}

.col-social h4 {
    margin-bottom: 1em;
    font-size: 2em;
    color: purple;
}

.col-social {
    width: calc(100%/3);
}

.language {
    margin-bottom: 1em;
    color: white;
}

.language img {
    width: 10%;
}


.social li {
    display: inline-block;
}

.col-menu h5 {
    margin-bottom: 1em;
    font-size: 0.5em;
}

.social li a {

}

/* footer bottom */

.footer-bottom {

}

.footer-menu li {
    margin-bottom: 0.5em;
} 


.col-left, .col-right {
    width: 50%;
}